.ether {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.13em;
  line-height: 120%;
  text-transform: uppercase;
  font-weight: 400;
  font-family: inherit;
}
.twitterTelegramLinksChild {
  height: 53.4px;
  width: 55px;
  position: relative;
}
.rb {
  margin: 0;
  width: 58px;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.13em;
  line-height: 120%;
  text-transform: uppercase;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
}
.twitterTelegramLinks {
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.telegram,
.twitter {
  flex: 1;
}
.docs,
.telegram,
.twitter {
  position: relative;
  /* text-decoration: underline; */
  line-height: 120%;
  text-transform: uppercase;
  cursor: pointer;
}

.docs:hover,
.telegram:hover,
.twitter:hover {
  text-decoration: underline;
}

.twitterParent,
.twitterTelegramLinksParent {
  width: 187px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl) 0;
  box-sizing: border-box;
  gap: var(--gap-5xl);
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--color-white);
  font-family: var(--font-jetbrains-mono);
}
.twitterTelegramLinksParent {
  width: 1401px;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-xl);
  gap: var(--gap-xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-gray-100);
  font-family: var(--font-krungthep);
}
.link {
  width: 222px;
  position: relative;
  letter-spacing: -0.04em;
  line-height: 120%;
  display: inline-block;
  padding-left: var(--padding-xl);
  padding-right: var(--padding-xl);
}
.footer {
  align-self: stretch;
  background-color: var(--color-black);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-21xl) 0;
  box-sizing: border-box;
  gap: var(--gap-3xs);
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--color-gray-100);
  font-family: var(--font-jetbrains-mono);
}
.twitterParent a,
twitterParent a:visited {
  text-decoration: none;
  color: var(--color-white);
}

.docs {
  position: relative;
  line-height: 120%;
  text-transform: uppercase;
  cursor: pointer;
}

.docs:hover::after {
  content: "Coming Soon";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}
.docs:hover {
  text-decoration: underline;
}




@media screen and (max-width: 1050px) {
  .ether,
  .rb {
    font-size: var(--font-size-19xl);
    line-height: 46px;
  }
}
@media screen and (max-width: 750px) {
  .twitterTelegramLinksParent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .ether,
  .rb {
    font-size: var(--font-size-10xl);
    line-height: 35px;
  }
}

.twitterParent {
  margin-right: 4rem;
}

@media screen and (max-width: 680px) {
  .twitter,
  .telegram,
  .docs,
  .play {
    font-size: .75rem;
  }
 
  .twitterParent {
    margin-right: .5rem;
  }
 }

 @media screen and (max-width: 480px) {
  .twitterTelegramLinksParent {
    flex-direction: column;
    flex-wrap: nowrap;
    margin-left: 3rem;
  }
}


.fAQParentChild {
  width: 50px;
  height: 120px;
  position: relative;
  animation: rotateAndBounce .9s infinite  forwards;
  margin-top: -1rem;
}
@keyframes rotateAndBounce {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(180deg);
  }
  70% {
    transform: rotate(390deg); /* Rotate a bit more for the bounce */
  }
  100% {
    transform: rotate(360deg); /* Settle back to the full rotation */
  }
}
