.loadContainer {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.loadParentChild {
  width: 123.5px;
  height: 120px;
  position: relative;
  animation: rotateAndBounce 0.9s infinite forwards;
}

@keyframes rotateAndBounce {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(180deg);
  }
  70% {
    transform: rotate(390deg); /* Rotate a bit more for the bounce */
  }
  100% {
    transform: rotate(360deg); /* Settle back to the full rotation */
  }
}
