/* Basic layout and styling */
.scrollFrames {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 18.14px;
  min-height: 300px;
  max-width: 100%;
  margin-top: -20px;
  z-index: 1;
  text-align: left;
  font-size: var(--font-size-3xs-9);
  color: var(--color-white);
  font-family: var(--font-inter);
}

.buyOrbParent,
.fungiParent1,
.wrapper {
  display: flex;
  flex-direction: row;
}

.buyOrbParent {
  align-self: stretch;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
  margin-top: -4.2rem;
}

.fungiParent,
.fungiParent1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-101xl) 0 0;
}

.fungiParent1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-101xl) 0 0;
  height: 140.6px;
  align-items: flex-end;
  justify-content: flex-start;
  margin-top: 10px;
}

.fungiParent1 .wrapper {
  margin-top: 20px; /* Adjust the value to move the arrow down */
}


.fungiParent .rectangleFrames {
  margin-bottom: 40px;
}

.rectangleFrames,
.wrapper {
  border-radius: 3.29px;
  background-color: var(--color-black);
  border: 0.8px solid var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3.2917368412017822px var(--padding-5xs) 3.2917368412017822px 8.229342460632324px;
}

.rectangleParent {
  height: 145.8px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}

/* Styling for specific elements and icons */
.blazeChildIcon,
.elementalScoresFAQ,
.whatIsElementalScores,
.orbAcquisitionIcon,
.fAQHeaderChild {
  position: relative;
  border-radius: 388.95px;
  object-fit: contain;
}

.blazeChildIcon,
.fAQHeaderChild {
  height: 65.8px;
  width: 65.8px;
}

.elementalScoresFAQ,
.orbAcquisitionIcon {
  height: 115.2px;
  width: 115.2px;
}

.whatIsElementalScores {
  width: 138.2px;
  height: 138.2px;
  border-radius: 248.85px;
}

/* Glowing effect for the centered image */
.centered {
  animation: glow 2s infinite ease-in-out;
  transform: scale(1.9) translateY(-20px); /* Scale up and lift the image */
  box-shadow: 0 0 10px rgba(0, 0, 255, 0.7);
  z-index: 2; /* Ensure it's above other images */
}

@keyframes glow {
  0% {
    box-shadow: 0 0 8px #fff, 0 0 10px #fff, 0 0 12px #ff00de, 0 0 14px #ff00de;
  }
  50% {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 22px #ff00de, 0 0 24px #ff00de;
  }
  100% {
    box-shadow: 0 0 8px #fff, 0 0 10px #fff, 0 0 12px #ff00de, 0 0 14px #ff00de;
  }
}

/* Additional styles */
.emptyFrame,
.div {
  position: relative;
  line-height: 13.17px;
  font-weight: 500;
}

.blaze {
  position: relative;
  line-height: 120%;
  text-transform: uppercase;
  font-size: .8rem;
}

.blazeWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 7.102153301239014px var(--padding-6xs);
}

.blaze1,
.riblazeFillIcon {
  overflow: hidden;
  flex-shrink: 0;
}

.blaze1 {
  width: 68px;
  height: 68.2px;
  border-radius: 37.88px;
  background-color: var(--color-black);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 8.522583961486816px var(--padding-5xs) 8.522583961486816px 8.522583961486816px;
  box-sizing: border-box;
}

.blazeSurgesWith {
  flex: 1;
  position: relative;
  line-height: 120%;
  text-transform: uppercase;
  font-size: .8rem;
  margin-top: -.8rem;
}

.blazeSurgesWithTheUnbridleWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 8.522583961486816px;
  font-size: var(--font-size-4xs-5);
  color: var(--color-gray-100);
  font-family: var(--font-jetbrains-mono);
}

.frameParent,
.buyOrb {
  font-size: var(--font-size-xs-4);
  font-family: var(--font-krungthep);
  text-align: center;
}

.frameParent {
  margin-top: 1rem;
  width: 197px;
  height: 158px;
  border-radius: 2.84px;
  background-color: var(--color-black);
  border: 0.7px solid var(--color-white);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-6xs) 0 8.522583961486816px;
}

.buyOrb {
  position: relative;
  line-height: 120%;
  text-transform: uppercase;
  color: var(--color-white);
}

.buyButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 7.102153301239014px var(--padding-6xs);
}

.buyButtonWrapper,
.scrollFrames {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ScrollFrames.module.css */

.buyButtonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 0.7px solid var(--color-white);
  padding: 0 var(--padding-5xs);
  background-color: var(--color-black);
  border-radius: 2.84px;
}

.scrollFrames {
  flex: 1;
  justify-content: center;
  gap: 18.14px;
  min-height: 396px;
  max-width: 100%;
  z-index: 1;
  text-align: left;
  font-size: var(--font-size-3xs-9);
  color: var(--color-white);
  font-family: var(--font-inter);
}

.fungiParent {
  transform: translateY(3rem);
}

.fungiParent1 {
  transform: translateY(3rem);
}

/* Responsive adjustments */
@media screen and (max-width: 750px) {
  .buyOrbParent {
    flex-wrap: wrap;
  }
}

/* Adjustments for PNG images */
.torrentIcon,
.etherIcon,
.terraIcon,
.aerIcon {
  width: 30px; /* Adjust width as needed */
  height: 30px; /* Adjust height as needed */
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -99%);
}

.riblazeFillIcon {
  height: 30px;
  width: 30px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -99%);
}

/* Additional adjustments */
.torrentIcon {
  border-radius: 37.88px; /* Add border-radius as needed */
}

.etherIcon,
.terraIcon,
.aerIcon {
  border-radius: 50%; /* Add border-radius as needed */
}

.ponderAcquireOrbs {
  cursor: pointer;
  border: 0.7px solid var(--color-white);
  padding: 0 var(--padding-6xs) 0 8.522583961486816px;
  background-color: var(--color-black);
  border-radius: 2.84px;
  transition: all .3s ease;
}

.ponderAcquireOrbs:hover {
  background-color: var(--color-white);
}

.ponderAcquireOrbs:hover .buyOrb {
  color: #000;
}

.layerFrame,
.orbIntroFrame,
.ponderAcquireOrbs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.howToFrame {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 7.102153301239014px var(--padding-8xs);
}

.buyOrbParent > .rectangleParent:not(:nth-child(4)) {
  margin-top: 4rem;
}

.buyOrbParent > .rectangleParent:nth-child(3) {
  margin-top: 4rem;
  transform: scale(1.4) translateY(-20px);
  margin-left: -1.5rem;
}

.buyOrbParent > .rectangleParent:nth-child(5) {
  margin-top: 4rem;
  transform: scale(1.4) translateY(-20px);
  margin-right: -1.5rem;
}

@media screen and (max-width: 600px) {
  .buyOrbParent > .rectangleParent:not(:nth-child(4)) {
    margin-top: 0rem;
  }

  .buyOrbParent > .rectangleParent:nth-child(3),
  .buyOrbParent > .rectangleParent:nth-child(5) {
    margin-top: 0rem;
    transform: scale(1) translateY(0);
    margin-left: 0;
    margin-right: 0;
  }

  .fungiParent {
    transform: translateY(0px);
  }

  .fungiParent1 {
    transform: translateY(0px);
  }
}

.wrapper:hover {
  cursor: pointer;
}

.rectangleFrames:hover {
  cursor: pointer;
}
