.etherOrbsIntroduces,
.watchVideo {
  position: relative;
  line-height: 120%;
  text-transform: uppercase;
}
.watchVideo {
  text-decoration: underline;
  white-space: nowrap;
}
.etherOrbsIntroduces {
  align-self: stretch;
  font-size: var(--font-size-base);
  font-family: var(--font-jetbrains-mono);
  color: var(--color-gray-100);
  text-align: center;
}
.etherVectorGroup {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-21xl);
}
.buyOrb,
.putContractAddress {
  position: relative;
  line-height: 120%;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
}
.putContractAddress {
  font-size: var(--font-size-xs);
  font-family: var(--font-jetbrains-mono);
  background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.2)), #6b6b6b;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.buyOrb {
  font-size: var(--font-size-xs-4);
  font-family: var(--font-krungthep);
  color: var(--color-white);
  transition: all .3s ease;
  padding: 5px 10px;
}
.buyOrb:hover {
  color: #000; /* Change text color on hover */
}

.buyOrb:hover::after {
  content: "Coming Soon"; /* Show "Coming Soon" text on hover */
  position: absolute;
  top: 150%;
  left: 50%;
  font-size: medium;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  opacity: 1;
  pointer-events: none;
  transition: opacity 0.3s ease;
  font-size: 10px;
  white-space: nowrap;
}

.howToFrame {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 7.102153301239014px var(--padding-8xs);
}
.ponderAcquireOrbs {
  cursor: pointer;
  border: 0.7px solid var(--color-white);
  padding: 0 var(--padding-6xs) 0 8.522583961486816px;
  background-color: var(--color-black);
  border-radius: 2.84px;
  transition: all .3s ease;
}

.ponderAcquireOrbs:hover {
  background-color: var(--color-white);
}
.ponderAcquireOrbs:hover .buyOrb {
  color: #000;
}

.layerFrame,
.orbIntroFrame,
.ponderAcquireOrbs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.orbIntroFrame {
  align-self: stretch;
  gap: var(--gap-21xl);
}
.layerFrame {
  width: 583px;
  padding: var(--padding-21xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-white);
  font-family: var(--font-krungthep);
  
}
.ggmoveDownIcon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.scrollDown {
  position: relative;
  line-height: 120%;
  text-transform: uppercase;
  white-space: nowrap;
}
.ggmoveDownIcon1 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.blitzBattle,
.video {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  font-size: var(--font-size-base);
  margin-top: -2.5rem;
  cursor: pointer;
}
/* Video.module.css */



.video {
  align-self: stretch;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  padding: var(--padding-77xl) var(--padding-xl) var(--padding-68xl);
  box-sizing: border-box;
  gap: var(--gap-203xl);
  background-size: cover;
  background-image: url(/public/video@2x.png);
  background-repeat: no-repeat;
  background-position: top;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--color-gray-100);
  font-family: var(--font-jetbrains-mono);
}


@media screen and (max-width: 1050px) {
  .video {
    padding-top: var(--padding-43xl);
    padding-bottom: var(--padding-38xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .etherVectorGroup,
  .orbIntroFrame {
    gap: var(--gap-21xl);
  }
  .video {
    gap: var(--gap-203xl);
    padding-top: var(--padding-21xl);
    padding-bottom: var(--padding-18xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .layerFrame {
    padding-top: var(--padding-7xl);
    padding-bottom: var(--padding-7xl);
    box-sizing: border-box;
  }
  .video {
    gap: var(--gap-203xl);
  }
}
/* Add this style to your existing CSS file */
/* Add this style to your existing CSS file */
.backButton {
  cursor: pointer;
  padding: 10px 20px; /* Adjust padding as needed */
  background-color: #007bff; /* Example background color */
  color: white;
  border-radius: 5px; /* Add border-radius for rounded corners */
  position: absolute;
  bottom: 20px; /* Adjust bottom position as needed */
  right: 20px; /* Adjust right position as needed */
  z-index: 999; /* Make sure it's above other elements */
}

/* Add hover effect */
.backButton:hover {
  background-color: #0056b3; /* Example hover background color */
}


.logoBox {
  width: 100vw;
  margin-top: -2rem;
}

.logoBox img {
  max-width: 15%;
  height: auto;
}

@media screen and (max-width: 1550px) {
  .layerFrame {
    margin-top: -5rem;
  margin-bottom: -5rem;
  }
  
}

@media (max-width: 1080px) {

  .logoBox img {
      max-width: 25%;
      height: auto;
  }
  
}

@media screen and (max-width: 995px) {
  .video {
    background-image: url(/public/video@2x.png);
  }
}
.etherVectorGroup {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-20xl);
  margin-top: -4rem; /* Adjust the margin-top value as needed */
}

.groupVectorTerraChild:hover {
  animation: rotateAndBounce 0.5s ease forwards;
}

@keyframes rotateAndBounce {
  0% {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(390deg); /* Rotate a bit more for the bounce */
  }
  100% {
    transform: rotate(360deg); /* Settle back to the full rotation */
  }
}
